/* Font-size Vars */

:root [data-font-size="standard"] {
  --text-p: 1.2rem;
  --text-h1: 5rem;
  --text-h2: 3rem;
  --text-h3: 2rem;
}

:root [data-font-size="small"] {
  --text-p: 0.9rem;
  --text-h1: 3.3rem;
  --text-h2: 2rem;
  --text-h3: 1.3rem;
}

:root [data-font-size="large"] {
  --text-p: 1.8rem;
  --text-h1: 5.3rem;
  --text-h2: 3.7rem;
  --text-h3: 2.7rem;
}

@media screen and (max-width: 480px) {
  [data-font-size="large"] {
    --text-p: 1.8rem;
    --text-h1: 5rem;
    --text-h2: 3.5rem;
    --text-h3: 2.5rem;
  }
}

/* Fonts */
/* ------------------------------------------ */
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* GENERAL STYLING */
/* ------------------------------------------ */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.basic-header {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: calc(0.2 * var(--text-h1));
  height: calc(1.4 * var(--text-h1));
}

.basic-header h1 {
  text-align: left;
  width: 100%;
}

h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
p {
  font-size: var(--text-p);
}

[data-page-width="Standard"] {
  width: 55%;
}

[data-page-width="Wide"] {
  width: 80%;
}
.content-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 70vh;
  overflow: auto;
}

.content-container-row {
  flex-direction: row;
}

.content-container-column {
  flex-direction: column;
  justify-content: start;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: calc(0.7 * var(--text-h1));
  }
  h2 {
    font-size: calc(0.7 * var(--text-h2));
  }
  h3 {
    font-size: calc(0.7 * var(--text-h3));
  }
  p {
    font-size: calc(0.7 * var(--text-p));
  }
}

@media screen and (max-width: 480px) {
  .basic-header {
    height: 12%;
  }
  .basic-header h1 {
    text-align: left;
    width: 100%;
  }
  .content-container {
    height: 70vh;
  }

  h1 {
    font-size: calc(0.5 * var(--text-h1));
  }
  h2 {
    font-size: calc(0.5 * var(--text-h2));
  }
  h3 {
    font-size: calc(0.5 * var(--text-h3));
  }
  p {
    font-size: calc(0.5 * var(--text-p));
  }
}

/* NAVBAR */
/* ------------------------------------------ */
.navbar {
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  z-index: 1000;
  font-size: 120%;
}
.navbar[data-navbar-side="Left-Handed"] {
  top: 50%;
  height: 40%;
  left: 2%;
}

.navbar[data-navbar-side="Right-Handed"] {
  top: 50%;
  height: 40%;
  right: 2%;
}

.navbar[data-navbar-side="Bottom"] {
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 10%;
  width: 80%;
}

.nav-item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .nav-item {
    width: var(--text-h2);
    height: var(--text-h2);
  }
}

@media screen and (max-width: 480px) {
  .navbar[data-navbar-side="Bottom"] {
    left: 2.5%;
    width: 95%;
  }

  .nav-item {
    width: 36px;
    height: 36px;
  }
}

/* ------------------------------------------ */

/* WELCOME PAGE */
.welcome-container {
  user-select: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.welcome {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-width: 23rem;
  padding-top: calc(0.5 * var(--text-p));
  padding-bottom: calc(0.5 * var(--text-p));
  width: 33%;
  z-index: 1;
  position: relative;
}

.sub-welcome {
  bottom: calc(-0.5 * var(--text-p));
  padding: calc(0.2 * var(--text-p));
  font-size: calc(0.6 * var(--text-p));
  right: 10%;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  z-index: 2;
}

.click-here-container {
  display: flex;
  justify-content: center;
  position: relative;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.click-hint {
  min-width: max-content;
  text-align: right;
  margin-top: var(--text-h2);
  transform: skew(-10deg);
  rotate: 10deg;
  right: 120%;
  width: fit-content;
  position: absolute;
  z-index: 1;
  left: -var(--text-h1);
  animation: pulse 1s ease-in-out infinite;
}

.click-here {
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-h1);
  margin-top: var(--text-h2);
  padding: calc(0.15 * var(--text-h3));
}

.click-here:hover {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .click-here {
    font-size: calc(0.6 * var(--text-h1));
    padding: calc(0.1 * var(--text-h3));
  }
}

/* ------------------------------------------ */

.about-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.about-content-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 7%;
  margin: calc(0.8 * var(--text-p));
  width: 90%;
  z-index: 2;
}

.about-content {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
  overflow: auto;
}

.about-content p {
  text-align: left;
  line-height: 1.2;
  margin: 1%;
  /* overflow: hidden; */
  /* text-overflow: "-"; */
}

#skiing-image {
  float: right;
  width: 25%;
  margin: 1vw;
  height: auto;
}

#rome-image {
  margin: 1%;
  float: left;
  width: 25%;
  height: auto;
}

.about-content img {
  width: 10%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .about-content-header {
    width: 85%;
    font-size: 130%;
  }

  #skiing-image {
    width: 30%;
    height: auto;
  }

  #rome-image {
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .about-content-header {
    margin-left: 0;
    width: 100%;
  }
  #skiing-image {
    width: 35%;
    height: auto;
  }

  #rome-image {
    width: 35%;
    height: auto;
  }
}
/* PROJECTS PAGE */
/* ------------------------------------------ */ /* PROJECTS PAGE */
/* ------------------------------------------ */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 95%;
}

.project-card-test {
  min-width: 49%;
}

.project-card {
  border: black solid 1px;
  border-radius: 5px;
  position: relative;
  width: 44%;
  height: 45%;
  margin: 1%;
  transition: transform 0.3s ease, border 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-card:hover {
  transform: scale(107%);
  cursor: pointer;
  border: 3px solid white;
}

.project-card img {
  margin-bottom: 1%;
  margin-top: 3%;
  width: auto;
  max-height: 70%;
  max-width: 90%;
  overflow: hidden;
  border-radius: 5px;
}

.project-card-expand {
  position: absolute;
  border: none;
  left: 1%;
  top: 1%;
  background: none;
  border-radius: 50%;
  font-size: calc(1 * var(--text-h3));
  padding: calc(0.2 * var(--text-h3));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.project-card-view {
  position: absolute;
  border: none;
  border-radius: 2%;
  bottom: 5%;
  right: 3%;
  width: 30%;
  height: var(--text-h3);
  font-size: calc(0.7 * var(--text-p));
  font-family: ubuntu, Calibri;
  z-index: 2;
}

.project-card-title {
  position: absolute;
  top: 1%;
  right: 5%;
  width: 90%;
  text-align: right;
  font-size: var(--text-h3);
}

@media screen and (orientation: portrait) {
  .projects-container {
    flex-direction: column;
  }
  .project-card {
    min-width: 95%;
    height: 22%;
  }

  .project-card img {
    position: absolute;
    align-self: center;
    width: 50%;
    bottom: 6%;
    max-height: 60%;
    border-radius: 5px;
  }
  .project-card-view {
    bottom: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .project-card-title {
    font-size: calc(0.7 * var(--text-h3));
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-card-title {
    font-size: calc(0.7 * var(--text-h3));
  }
  .project-card-expand {
    top: 30%;
  }
}
/* PROJECT MODAL */
/* ------------------------------------------ */
.project-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 65vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10;
}

.project-modal-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-modal-h1 {
  height: 100%;
  min-width: 75%;
  text-align: left;
  margin-left: var(--text-p, 1.2rem);
  align-content: center;
  font-size: calc(1.1 * var(--text-h1, 3.3rem));
}

.close-button {
  height: calc(1.2 * var(--text-h1, 3.3rem));
  width: calc(1.2 * var(--text-h1, 3.3rem));
  background: red;
  font-size: var(--text-h1, 3.3rem);
  font-weight: bold;
  border-radius: 100%;
  border: none;
  margin-right: calc(0.6 * var(--text-p, 1.2rem));
  margin-left: calc(0.6 * var(--text-p, 1.2rem));
}

.project-modal-content {
  width: 100%;
  height: 85%;
  display: flex;
  font-size: calc(0.8 * var(--text-h3, 2rem));
}

.project-modal-createdOn {
  font-style: italic;
  color: rgb(220, 220, 220);
  font-size: calc(0.6 * var(--text-h3, 2rem));
  margin-bottom: calc(0.6 * var(--text-h3, 2rem));
}

.project-modal-left-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.project-modal-image {
  width: 95%;
  max-width: 95%;
  height: 80%;
  padding-left: calc(0.6 * var(--text-h1, 3.3rem));
}

.project-modal-right-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.project-modal-details {
  height: 66%;
  padding: 4%;
  padding-top: 0;
  overflow: scroll;
}
.project-modal-button-container {
  height: 33%;
  justify-content: space-around;
}

.project-modal-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 3%;
}

.project-modal-link-button {
  width: 80%;
  height: calc(1.4 * var(--text-h3, 2rem));
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: calc(0.7 * var(--text-h3, 2rem));
  padding: calc(0.2 * var(--text-h3, 2rem));
  border-radius: calc(2 * var(--text-h1, 3.3rem));
  border: none;
  font-family: Arial;
  transition: transform 0.3s ease, border 0.3s ease;
  overflow: hidden;
}

.project-modal-github-button {
  width: 80%;
  height: calc(1.4 * var(--text-h3, 2rem));
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: calc(0.8 * var(--text-h3, 2rem));
  padding: calc(0.2 * var(--text-h3, 2rem));
  border-radius: calc(2 * var(--text-h1, 3.3rem));
  border: none;
  font-family: Arial;
  transition: transform 0.3s ease, border 0.3s ease;
  overflow: hidden;
}
.project-modal-github-button a {
  text-decoration: none;
}
.project-modal-link-button:hover,
.project-modal-github-button:hover {
  transform: scale(105%);
}

.modal-icon {
  font-size: calc(1.2 * var(--text-h3, 2rem));
  padding-left: calc(0.7 * var(--text-h3, 2rem));
  padding-right: calc(0.7 * var(--text-h3, 2rem));
}

.red-border {
  border: 2px solid red;
}

/* For Chrome, Safari and Opera */
.project-modal-details::-webkit-scrollbar {
  display: none;
}

/* Internet Explorer, Edge */
.project-modal-details {
  -ms-overflow-style: none;
}

/* Firefox */
.project-modal-details {
  scrollbar-width: none;
}
@media screen and (max-width: 1100px) {
  .project-modal-h1 {
    font-size: calc(0.8 * var(--text-h1, 3.3rem));
  }

  .project-modal-image {
    max-width: 90%;
  }

  .close-button {
    height: calc(0.67 * var(--text-h1, 3.3rem));
    width: calc(0.67 * var(--text-h1, 3.3rem));
    font-size: calc(0.6 * var(--text-h1, 3.3rem));
  }
  .project-modal-content {
    font-size: calc(0.6 * var(--text-h3, 2rem));
  }
  .project-modal-createdOn {
    font-size: calc(0.6 * var(--text-h3, 2rem));
  }

  .project-modal-link-button {
    font-size: calc(0.7 * var(--text-h3, 2rem));
  }

  .modal-icon {
    font-size: calc(0.9 * var(--text-h3, 2rem));
  }
}

@media screen and ((max-width: 480px) or (orientation: portrait)) {
  .project-modal {
    width: 75vw;
    height: 70vh;
    background-color: aquamarine;
  }
  .project-modal-header {
    justify-content: end;
  }

  .project-modal-h1 {
    font-size: calc(0.5 * var(--text-h1, 3.3rem));
  }

  .project-modal-left-container {
    height: 50%;
    width: 100%;
    flex-direction: column;
  }
  .project-modal-tools {
    height: 40%;
  }

  .project-modal-right-container {
    height: 50%;
    width: 100%;
    flex-direction: column;
  }

  .project-modal-details {
    height: 66%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .project-modal-button-container {
    height: 33%;
    flex-direction: row;
    justify-content: space-around;
  }
  .project-modal-image {
    max-height: 95%;
    align-self: center;
    left: -50%;
    padding-left: 0;
  }

  .close-button {
    height: calc(0.67 * var(--text-h1, 3.3rem));
    width: calc(0.67 * var(--text-h1, 3.3rem));
    font-size: calc(0.6 * var(--text-h1, 3.3rem));
  }
  .project-modal-content {
    flex-direction: column;
    font-size: calc(0.4 * var(--text-h3, 2rem));
  }
  .project-modal-createdOn {
    font-size: calc(0.4 * var(--text-h3, 2rem));
  }

  .project-modal-link-button {
    width: 30%;
    height: calc(1 * var(--text-h3, 2rem));
    font-size: calc(0.5 * var(--text-h3, 2rem));
    padding: 5%;
    margin: 4px;
    transition: transform 0.3s ease, border 0.3s ease;
  }

  .project-modal-github-button {
    width: 30%;
    height: calc(1 * var(--text-h3, 2rem));
    font-size: calc(0.5 * var(--text-h3, 2rem));
    display: flex;
    padding: 5%;
    margin: 4px;
    transition: transform 0.3s ease, border 0.3s ease;
  }

  .modal-icon {
    padding-left: 0;
    padding-right: calc(0.2 * var(--text-h3, 2rem));
    height: calc(0.8 * var(--text-h3, 2rem));
    width: calc(0.8 * var(--text-h3, 2rem));
    font-size: calc(0.8 * var(--text-h3, 2rem));
  }
}

/* CONTACT PAGE */
/* ------------------------------------------ */

.contact-email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.contact-email-form h2 {
  align-self: center;
  width: 90%;
  text-align: right;
}

.contact-input-field input,
textarea {
  margin-top: calc(0.2 * var(--text-h3));
  margin-bottom: calc(0.2 * var(--text-h3));
  width: 90%;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: var(--text-p);
  padding: calc(0.2 * var(--text-p));
  border-radius: 5px;
}
.contact-input-field input {
  height: var(--text-h3);
  margin-top: calc(0.2 * var(--text-h3));
  margin-bottom: calc(0.2 * var(--text-h3));
}

.contact-message {
  height: 50%;
}

.contact-input-field textarea {
  height: 100%;
  overflow: auto;
  resize: none;
}

.contact-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  user-select: none;
}

.contact-buttons button {
  height: calc(1.2 * var(--text-h3));
  width: fit-content;
  padding-left: var(--text-p);
  padding-right: var(--text-p);
  margin-left: var(--text-h1);
  margin-right: var(--text-h1);
  margin-top: var(--text-h3);
  border-radius: 2px;
  font-size: var(--text-p);
  cursor: pointer;
}

.contact-buttons #contact-sent {
  display: flex;
  align-items: center;
  height: calc(1.2 * var(--text-h3));
  width: fit-content;
  padding-left: var(--text-p);
  padding-right: var(--text-p);
  margin-left: var(--text-h1);
  margin-right: var(--text-h1);
  margin-top: var(--text-h3);
  border-radius: 2px;
  font-size: var(--text-p);
  user-select: none;
  cursor: default;
}

.contact-buttons #contact-sent p {
  margin-right: calc(0.5 * var(--text-p));
  font-size: calc(1.1 * var(--text-p));
  transform: skew(-12deg);
}
.contact-buttons #contact-sent i {
  transform: skew(-12deg);
}

.contact-socials-container {
  z-index: 2;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 80%;
  height: 8%;
  margin-top: var(--text-p);
}

.contact-socials-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(0.5 * var(--text-p));
  margin-right: calc(0.5 * var(--text-p));
  font-size: calc(0.9 * var(--text-h2));
  width: var(--text-h2);
  height: var(--text-h2);
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  transition: all 0.3s ease;
}
#github i {
  font-size: calc(0.8 * var(--text-h2));
}
#linkedin {
  font-size: calc(0.8 * var(--text-h2));
}
#facebook i {
  font-size: calc(0.83 * var(--text-h2));
  position: relative;
  top: calc(0.1 * var(--text-h2));
}
#emailBtn {
  font-size: calc(0.8 * var(--text-h2));
}

.contact-socials-container i {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 480px) {
  .contact-buttons {
    height: 8%;
    margin-bottom: calc(0.5 * var(--text-p));
  }
  .contact-buttons button,
  .contact-buttons div {
    margin-left: 0;
    margin-right: 0;
  }
  .contact-socials-container {
    width: 100%;
    position: relative;
    bottom: -5%;
  }
  .contact-socials-container a {
    width: calc(1.5 * var(--text-p));
    height: calc(1.5 * var(--text-p));
    font-size: calc(1.2 * var(--text-p));
    margin-left: calc(0.1 * var(--text-p));
    margin-right: calc(0.1 * var(--text-p));
  }
  #github i {
    font-size: calc(1.2 * var(--text-p));
  }
  #linkedin {
    font-size: calc(1.2 * var(--text-p));
  }
  #facebook i {
    font-size: calc(1.3 * var(--text-p));
    position: relative;
    top: calc(0.05 * var(--text-h2));
  }
  #emailBtn {
    font-size: calc(1.2 * var(--text-p));
  }
}
/* SETTINGS PAGE */
/* ------------------------------------------ */
.settings-theme-container {
  width: 100%;
  height: fit-content;
  display: flex;
}
.settings-theme-theme-menu {
  width: 60%;
  display: flex;
  border-radius: 5px;
}
.settings-theme-color-menu {
  width: 40%;
  display: flex;
  position: relative;
}

.settings-theme-theme-menu-header {
  margin-top: 1%;
  margin-bottom: 1%;
  width: var(--text-h2);
}
.settings-theme-color-menu-header {
  width: var(--text-h2);
}
.settings-theme-color-menu-header h2,
.settings-theme-theme-menu-header h2 {
  font-size: calc(0.5 * var(--text-h2));
  text-align: center;
  width: 100%;
  font-family: monospace;
  margin-top: calc(0.5 * var(--text-p));
}

.settings-checklist-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: calc(0.5 * var(--text-p));
}
.settings-checklist-header {
  z-index: 2;
  text-align: left;
}
.settings-checklist-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.settings-checklist {
  width: 33%;
  text-align: left;
  padding: 1%;
}
.settings-checklist h3 {
  margin-bottom: calc(0.5 * var(--text-p));
}
.settings-checklist-items > * {
  border-radius: 5px;
  margin-bottom: calc(0.5 * var(--text-p));
  display: flex;
  align-items: center;
  padding: calc(0.3 * var(--text-p));
}
.settings-checklist-items p {
  font-size: calc(0.9 * var(--text-p));
  margin-left: calc(0.3 * var(--text-p));
  margin-bottom: calc(0.1 * var(--text-p));
}

.settings-theme-theme-list {
  padding: 2%;
  width: 100%;
}
.settings-theme-theme-list > * {
  border-radius: 5px;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1.5%;
  height: calc(3 * var(--text-p));
}
.settings-theme-theme-list p {
  font-size: calc(1.2 * var(--text-p));
  margin-left: calc(0.5 * var(--text-p));
}
.settings-theme-color-list {
  padding: 2%;
  width: 100%;
}
.settings-theme-color-list > * {
  border-radius: 5px;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: calc(1.3 * var(--text-p));
}
.settings-theme-color-list p {
  font-size: calc(1.1 * var(--text-p));
  margin-left: calc(0.5 * var(--text-p));
}

.settings-checklist-option {
  user-select: none;
  cursor: pointer;
}

.settings-checkbox-mobile-true {
  display: none;
}

@media screen and (width < 480px) {
  .settings-theme-theme-list p {
    font-size: calc(0.8 * var(--text-p));
  }
  .settings-theme-theme-list > * {
    height: calc(2 * var(--text-p));
    padding-left: 0;
  }
  .settings-theme-color-list p {
    font-size: calc(0.7 * var(--text-p));
  }
}

/* SIGNATURE */
/* ------------------------------------------ */

.signature {
  position: fixed;
  bottom: 2px;
  left: 2px;
  transform: rotate(45deg) translateY(32px) translateX(-32px);
  transition: all s;
  opacity: 0;
}

.signature.visible {
  opacity: 1;
  transform: rotate(45deg) translateY(0) translateX(0);
}

.signature-container {
  position: relative;
}

.heart-icon {
  width: 80px;
  height: 80px;
}

.signature-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.signature-text p {
  margin: 0;
}

@media screen and (orientation: portrait) {
  .signature {
    bottom: 9vh;
  }
}

@media screen and (max-width: 480px) {
  .heart-icon {
    width: 96px;
    height: 96px;
  }

  .signature-text p {
  }
}

@media (min-width: 768px) {
  .heart-icon {
    width: 128px;
    height: 128px;
  }

  .signature-text p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .heart-icon {
    width: 160px;
    height: 160px;
  }

  .signature-text p {
  }
}
