[data-color="dark"] {
  --primary-bg-color: #1c1b2b;
  --secondary-bg-color: #0f185a;
  --primary-text-color: rgb(236, 234, 231);
  --secondary-text-color: #1bc8b6;
  --accent-color: #1bc8b6;
  --white: #dcdde2;
}
[data-color="light"] {
  --primary-bg-color: #f5f7f8;
  --secondary-bg-color: #eccd1d;
  --primary-text-color: rgb(0, 33, 94);
  --secondary-text-color: #2c4e80;
  --accent-color: #fc4100;
  --white: #f3f4f5;
}
[data-color="red"] {
  --primary-bg-color: #fbfbfb;
  --secondary-bg-color: #c6c6c6;
  --primary-text-color: rgb(28, 1, 1);
  --secondary-text-color: #950a0a;
  --accent-color: #ea0707;
  --white: #ebeff2;
}
/* January */
[data-color="january"] {
  --primary-bg-color: #f0f8ff;
  --secondary-bg-color: #9bd3e9;
  --primary-text-color: rgb(25, 25, 112);
  --secondary-text-color: #3f8ecf;
  --accent-color: #d93030e6;
  --white: #ffffff;
}
/* February */
[data-color="february"] {
  --primary-bg-color: #fbf8f9;
  --secondary-bg-color: #ffc6d9;
  --primary-text-color: rgb(227, 65, 146);
  --secondary-text-color: #e34192;
  --accent-color: #2947f1;
  --white: #ffffff;
}
/* March */
[data-color="march"] {
  --primary-bg-color: #7ea67e;
  --secondary-bg-color: #2e962e;
  --primary-text-color: rgb(40, 41, 40);
  --secondary-text-color: #315331;
  --accent-color: #eebb02;
  --white: #f2f1ee;
}
/* April */
[data-color="april"] {
  --primary-bg-color: #f0ffff;
  --secondary-bg-color: #e0ffff;
  --primary-text-color: rgb(51, 45, 70);
  --secondary-text-color: #5964b5;
  --accent-color: #ff69b4;
  --white: #ffffff;
}
/* May */
[data-color="may"] {
  --primary-bg-color: #fafaf7;
  --secondary-bg-color: #ffdef2;
  --primary-text-color: rgb(39, 40, 59);
  --secondary-text-color: #ee185c;
  --accent-color: #51e806;
  --white: #ffffff;
}
/* June */
[data-color="june"] {
  --primary-bg-color: #f0f8ff;
  --secondary-bg-color: #87cefa;
  --primary-text-color: rgb(0, 0, 139);
  --secondary-text-color: #1e90ff;
  --accent-color: #ff6347;
  --white: #f0f8ff;
}
/* July */
[data-color="july"] {
  --primary-bg-color: #f8f8fb;
  --secondary-bg-color: #dc143c;
  --primary-text-color: rgb(0, 0, 139);
  --secondary-text-color: #b22222;
  --accent-color: #0000ff;
  --white: #ffffff;
}
/* August */
[data-color="august"] {
  --primary-bg-color: #fefdfb;
  --secondary-bg-color: #f3e073;
  --primary-text-color: rgb(88, 18, 18);
  --secondary-text-color: #ff6600;
  --accent-color: #e8430c;
  --white: #ffffff;
}
/* September */
[data-color="september"] {
  --primary-bg-color: #f9f9f9;
  --secondary-bg-color: #df7b0a;
  --primary-text-color: rgb(45, 40, 72);
  --secondary-text-color: #dcaa11;
  --accent-color: #c50000;
  --white: #ffffff;
}
/* October */
[data-color="october"] {
  --primary-bg-color: #000000;
  --secondary-bg-color: #1d6142;
  --primary-text-color: rgb(236, 238, 236);
  --secondary-text-color: #d5980a;
  --accent-color: #a111ce;
  --white: #ffffff;
}
/* November */
[data-color="november"] {
  --primary-bg-color: #f0b683;
  --secondary-bg-color: #d2691e;
  --primary-text-color: rgb(92, 68, 52);
  --secondary-text-color: #628522;
  --accent-color: #b8860b;
  --white: #f3ede7;
}
/* December */
[data-color="december"] {
  --primary-bg-color: #f7fafb;
  --secondary-bg-color: #d2e6eb;
  --primary-text-color: rgb(0, 100, 0);
  --secondary-text-color: #ff0000;
  --accent-color: #c50000;
  --white: #f7fafb;
}
