/* Font-size Vars */
[data-font-size="standard"] {
  --text-p: 1.5rem;
  --text-h1: 5rem;
  --text-h2: 3rem;
  --text-h3: 2rem;
}

[data-font-size="small"] {
  --text-p: 1rem;
  --text-h1: 3.3rem;
  --text-h2: 2rem;
  --text-h3: 1.3rem;
}

[data-font-size="large"] {
  --text-p: 2rem;
  --text-h1: 7.5rem;
  --text-h2: 4.5rem;
  --text-h3: 3rem;
}

/* Fonts */
/* ------------------------------------------ */
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* GENERAL STYLING */
/* ------------------------------------------ */
.page-content {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.basic-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.basic-header h1 {
  text-align: left;
  width: 100%;
}

h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
p {
  font-size: 1.5rem;
}

[data-page-width="Standard"] {
  width: 55%;
}

[data-page-width="Wide"] {
  width: 80%;
}
.content-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 75vh;
}

.content-container-row {
  flex-direction: row;
}

.content-container-column {
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: calc(0.7 * var(--text-h1));
  }
  h2 {
    font-size: calc(0.7 * var(--text-h2));
  }
  h3 {
    font-size: calc(0.7 * var(--text-h3));
  }
  p {
    font-size: calc(0.7 * var(--text-p));
  }
}

@media screen and (max-width: 480px) {
  .basic-header {
    height: 12%;
  }
  .basic-header h1 {
    text-align: left;
    width: 100%;
  }

  h1 {
    font-size: calc(0.5 * var(--text-h1));
  }
  h2 {
    font-size: calc(0.5 * var(--text-h2));
  }
  h3 {
    font-size: calc(0.5 * var(--text-h3));
  }
  p {
    font-size: calc(0.5 * var(--text-p));
  }
}

/* NAVBAR */
/* ------------------------------------------ */
.navbar {
  position: fixed;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  z-index: 1000;
  font-size: 120%;
}
.navbar[data-navbar-side="Left-Handed"] {
  top: 50%;
  height: 40%;
  left: 2%;
}

.navbar[data-navbar-side="Right-Handed"] {
  top: 50%;
  height: 40%;
  right: 2%;
}

.navbar[data-navbar-side="Bottom"] {
  bottom: 2%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 10%;
  width: 80%;
}

.nav-item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .nav-item {
    width: var(--text-h2);
    height: var(--text-h2);
  }
}

@media screen and (max-width: 480px) {
  .navbar[data-navbar-side="Bottom"] {
    left: 10%;
    width: 80%;
  }

  .nav-item {
    width: 32px;
    height: 32px;
  }
}

/* ------------------------------------------ */

/* WELCOME PAGE */
.welcome-container {
  user-select: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.welcome {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-width: 22.5rem;
  width: 33%;
  z-index: 1;
  position: relative;
}

.sub-welcome {
  bottom: calc(-0.5 * var(--text-p));
  padding: calc(0.2 * var(--text-p));
  font-size: calc(0.6 * var(--text-p));
  right: 10%;
  position: absolute;
  text-align: center;
  z-index: 2;
}

.click-here-container {
  display: flex;
  justify-content: center;
  position: relative;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.click-hint {
  min-width: max-content;
  text-align: right;
  margin-top: var(--text-h2);
  transform: skew(-10deg);
  rotate: 10deg;
  right: 120%;
  width: fit-content;
  position: absolute;
  z-index: 1;
  left: -var(--text-h1);
  animation: pulse 1s ease-in-out infinite;
}

.click-here {
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1.1 * var(--text-h1));
  margin-top: var(--text-h2);
  height: var(--text-h1);
  width: var(--text-h1);
}

.click-here:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .click-here {
    font-size: calc(0.6 * var(--text-h1));
    height: calc(0.5 * var(--text-h1));
    width: calc(0.5 * var(--text-h1));
  }
}

/* ------------------------------------------ */
.about-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.about-content-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 10%;
  width: 100%;
  z-index: 2;
}

.about-content {
  height: 90%;
  display: block;
}

.about-content p {
  text-align: left;
  line-height: 1.5;
  margin: 1%;
}

#skiing-image {
  float: right;
  width: 25%;
  margin: 1vw;
  height: auto;
}

#rome-image {
  margin: 1%;
  float: left;
  width: 25%;
  height: auto;
}

.about-content img {
  width: 10%;
  height: auto;
}

@media screen and (max-width: 900px) {
  .about-content-header {
    font-size: 130%;
  }
  .about-content p {
  }

  #skiing-image {
    width: 30%;
    height: auto;
  }

  #rome-image {
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .about-content-header {
  }
  .about-content p {
  }
  #skiing-image {
    width: 35%;
    height: auto;
  }

  #rome-image {
    width: 35%;
    height: auto;
  }
}

/* PROJECTS PAGE */
/* ------------------------------------------ */

.slideshow-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}

.slideshow-container h2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.slideshow-container p {
  align-self: start;
  text-align: left;
  margin: 2vh 7vw;
}

.slideshow-text {
  border-radius: 20px;
  height: 75%;
  display: flex;
  min-width: 15vw;
  flex-direction: column;
}

.slideshow-image img {
  border-radius: 15px;
  width: 40vw;
}

.slideshow-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 13%;
  border-radius: 0 0 20px 20px;
}
.slideshow-count {
  user-select: none;
  margin-right: 3vw;
  margin-left: 3vw;
}

.slideshow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  height: 8vh;
  width: 15vh;
}

/* CONTACT PAGE */
/* ------------------------------------------ */

.contact-email-form {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  height: 80%;
  font-size: 140%;
}

.contact-or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  margin-top: 25vh;
  user-select: none;
}

.contact-email-form h2 {
  margin-top: 2vh;
  margin-left: 10%;
}

.contact-input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2vh;
  margin-left: 10%;
  width: 80%;
}

.contact-input-field h2 {
  margin-bottom: 1vh;
}

.contact-input-field input {
  border: none;
  width: 100%;
  height: 4vh;
  border-radius: 5px;
}

.contact-email-form textarea {
  border: none;
  width: 100%;
  resize: none;
  height: 31vh;
  border-radius: 5px;
}

.contact-send-btn {
  height: 100%;
  margin-top: 3vh;
  margin-right: 10%;
  align-self: flex-end;
}
.contact-send-btn button {
  border: none;
  padding: 1vh 2vh;
  border-radius: 5px;
}

.contact-socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
}
.contact-socials-container h2 {
  margin-bottom: 5vh;
  font-size: 5vh;
}
.contact-socials-btn {
  border: 2px solid transparent;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 8vh;
  margin-bottom: 5vh;
}
.contact-socials-btn i {
  margin-right: 1vw;
  margin-left: 1vw;
}

/* SETTINGS PAGE */
/* ------------------------------------------ */

.settings-theme-container {
  border-radius: 30px;
  padding: 2rem;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-checklist-container {
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.settings-checklist-container h2 {
  margin-bottom: 1rem;
}

.settings-checklist-container h3 {
  margin-bottom: 0.5rem;
}

.settings-checklist-items {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
}

.settings-checklist-option {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-checklist-option :hover {
  cursor: pointer;
}

.settings-checkbox {
  margin-right: 0.5rem;
}

.settings-theme-menu {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

/* SIGNATURE */
/* ------------------------------------------ */

.signature {
  position: fixed;
  bottom: 2px;
  left: 2px;
  transform: rotate(45deg) translateY(32px) translateX(-32px);
  transition: all s;
  opacity: 0;
}

.signature.visible {
  opacity: 1;
  transform: rotate(45deg) translateY(0) translateX(0);
}

.signature-container {
  position: relative;
}

.heart-icon {
  width: 80px;
  height: 80px;
}

.signature-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.signature-text p {
  margin: 0;
}

@media screen and (orientation: portrait) {
  .signature {
    bottom: 9vh;
  }
}

@media screen and (max-width: 480px) {
  .heart-icon {
    width: 96px;
    height: 96px;
  }

  .signature-text p {
  }
}

@media (min-width: 768px) {
  .heart-icon {
    width: 128px;
    height: 128px;
  }

  .signature-text p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .heart-icon {
    width: 160px;
    height: 160px;
  }

  .signature-text p {
  }
}
