/* SETTINGS BUTTON POSITIONING/(STYLING FOR NOW) */
.settings-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.settings-button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.settings-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

/* NAVBAR POSITIONING/(STYLING FOR NOW) */
.navbar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item {
  margin: 10px 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-item.active,
.nav-item:hover {
  background-color: #278dec;
  color: white;
}

.nav-item i {
  font-size: 20px;
}

/* SIGNATURE POSITION AND STYLING */
.signature {
  position: fixed;
  bottom: 2px;
  left: 2px;
  transform: rotate(45deg) translateY(32px) translateX(-32px);
  transition: all 1s;
  opacity: 0;
}

.signature.visible {
  opacity: 1;
  transform: rotate(45deg) translateY(0) translateX(0);
}

.signature-container {
  position: relative;
}

.heart-icon {
  color: #2281ee;
  width: 80px;
  height: 80px;
}

.signature-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.signature-text p {
  color: white;
  font-size: 12px;
  margin: 0;
}

@media (min-width: 640px) {
  .heart-icon {
    width: 96px;
    height: 96px;
  }

  .signature-text p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .heart-icon {
    width: 128px;
    height: 128px;
  }

  .signature-text p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .heart-icon {
    width: 160px;
    height: 160px;
  }

  .signature-text p {
    font-size: 18px;
  }
}
