/* Font Vars */
/* ------------------------------------------ */

/* GENERAL STYLING */
/* ------------------------------------------ */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.basic-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.basic-header h1 {
  text-align: left;
  font-size: 9vh;
  width: 100%;
}

[data-page-width="Standard"] {
  width: 55%;
}

[data-page-width="Wide"] {
  width: 80%;
}
.content-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.content-container-row {
  flex-direction: row;
}

.content-container-column {
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
/* ------------------------------------------ */
.navbar[data-navbar-side="Left-Handed"] {
  left: 20px;
}

.navbar[data-navbar-side="Right-Handed"] {
  right: 20px;
}

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  z-index: 1000;
}

.nav-item {
  margin: 10px 0;
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-item i {
  font-size: 20px;
}

/* ------------------------------------------ */
/* WELCOME PAGE */
/* ------------------------------------------ */
/* ABOUT PAGE */
/* ------------------------------------------ */
/* PROJECTS PAGE */
/* ------------------------------------------ */

.slideshow-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}
.slideshow-container h2 {
  margin-top: 2vh;
  font-size: 4vh;
  margin-bottom: 2vh;
}
.slideshow-container p {
  align-self: start;
  text-align: left;
  margin: 2vh 7vw;
  font-size: 2vh;
}

.slideshow-text {
  border-radius: 20px;
  height: 75%;
  display: flex;
  min-width: 15vw;
  flex-direction: column;
}

.slideshow-image img {
  border-radius: 15px;
  width: 40vw;
}

.slideshow-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 13%;
  border-radius: 0 0 20px 20px;
}
.slideshow-count {
  user-select: none;
  margin-right: 3vw;
  margin-left: 3vw;
}

.slideshow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 130%;
  border-radius: 5px;
  height: 8vh;
  width: 15vh;
}

/* CONTACT PAGE */
/* ------------------------------------------ */

.contact-email-form {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  height: 80%;
  font-size: 140%;
}

.contact-or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  margin-top: 25vh;
  font-size: 8vh;
  user-select: none;
}

.contact-email-form h2 {
  margin-top: 2vh;
  font-size: 4vh;
  margin-left: 10%;
}

.contact-input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2vh;
  margin-left: 10%;
  width: 80%;
}

.contact-input-field h2 {
  margin-bottom: 1vh;
}

.contact-input-field input {
  border: none;
  width: 100%;
  height: 4vh;
  font-size: 80%;
  border-radius: 5px;
}

.contact-email-form textarea {
  border: none;
  width: 100%;
  resize: none;
  height: 31vh;
  font-size: 100%;
  border-radius: 5px;
}

.contact-send-btn {
  height: 100%;
  margin-top: 3vh;
  margin-right: 10%;
  align-self: flex-end;
}
.contact-send-btn button {
  border: none;
  padding: 1vh 2vh;
  font-size: 100%;
  border-radius: 5px;
}

.contact-socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
}
.contact-socials-container h2 {
  margin-bottom: 5vh;
  font-size: 5vh;
}
.contact-socials-btn {
  border: 2px solid transparent;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 8vh;
  margin-bottom: 5vh;
  font-size: 3vh;
}
.contact-socials-btn i {
  font-size: 4vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

/* SETTINGS PAGE */
/* ------------------------------------------ */

.settings-theme-container {
  border-radius: 30px;
  padding: 2rem;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-checklist-container {
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.settings-checklist-container h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.settings-checklist-container h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.settings-checklist-items {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
}

.settings-checklist-option {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.settings-checklist-option p {
  margin-bottom: 0.15rem;
  font-size: 1rem;
}

.settings-checklist-option :hover {
  cursor: pointer;
}

.settings-checkbox {
  margin-right: 0.5rem;
}

.settings-theme-list h2 {
  font-size: 3rem;
}

.settings-theme-menu {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.settings-theme-menu h2 {
  font-size: 3rem;
}

/* SIGNATURE */
/* ------------------------------------------ */

.signature {
  position: fixed;
  bottom: 2px;
  left: 2px;
  transform: rotate(45deg) translateY(32px) translateX(-32px);
  transition: all 1s;
  opacity: 0;
}

.signature.visible {
  opacity: 1;
  transform: rotate(45deg) translateY(0) translateX(0);
}

.signature-container {
  position: relative;
}

.heart-icon {
  width: 80px;
  height: 80px;
}

.signature-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.signature-text p {
  font-family: Arial;
  font-size: 12px;
  margin: 0;
}

@media (min-width: 640px) {
  .heart-icon {
    width: 96px;
    height: 96px;
  }

  .signature-text p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .heart-icon {
    width: 128px;
    height: 128px;
  }

  .signature-text p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .heart-icon {
    width: 160px;
    height: 160px;
  }

  .signature-text p {
    font-size: 18px;
  }
}
