@import url(./simple/theme-simple-global.css);
@import url(./simple/theme-simple-colors.css);

:root {
  --red: #ff0000;
}
/* GENERAL STYLING */
p,
h2,
h3 {
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--secondary-text-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
}

.page-content {
  background-color: var(--primary-bg-color);
  box-shadow: var(--secondary-bg-color) 15;
}

.basic-header h1 {
  border-bottom: var(--secondary-text-color) 1px solid;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: calc(var(--accent-color) + 20%);
}

/* NAVBAR */
/* ----------------------------------------------------------- */
.navbar {
  background: linear-gradient(
    to bottom right,
    var(--accent-color),
    color-mix(in srgb, var(--accent-color) 80%, var(--secondary-text-color))
  );
  box-shadow: 0 0 7px
    color-mix(in srgb, var(--primary-bg-color) 70%, var(--primary-text-color));
  color: var(--primary-bg-color);
}

.nav-item.active,
.nav-item:hover {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

/* WELCOME PAGE */
/* ----------------------------------------------------------- */

.welcome {
  color: var(--accent-color);
  border: 2px solid var(--red);
}

.sub-welcome {
  background-color: var(--primary-bg-color);
}

.click-here {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.click-here:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

.click-hint {
  color: var(--accent-color);
}
.invisible {
  color: transparent;
  display: none;
}

/* ABOUT PAGE */
/* ----------------------------------------------------------- */

.about-content {
  backdrop-filter: blur(15px);
  color: var(--primary-text-color);
}
.about-content-header h2 {
  color: var(--accent-color);
}

/* PROJECTS PAGE */
/* ----------------------------------------------------------- */
.project-card {
  backdrop-filter: blur(10px);
  background-color: color-mix(in srgb, var(--accent-color) 8%, transparent);
  color: var(--primary-text-color);
  border: solid 2px color-mix(in srgb, var(--accent-color) 60%, transparent);
}

.project-card-expand {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}
.project-card-expand:hover,
.project-card-expand:focus {
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color);
}

.project-card-view {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: solid 2px var(--primary-text-color);
}
.project-card-view:hover,
.project-card-view:focus {
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color);
  border: solid 2px var(--secondary-bg-color);
}
.project-card-title {
  color: var(--primary-text-color);
  border-bottom: solid 1px var(--primary-text-color);
}

/* CONTACT ME PAGE */
/* ----------------------------------------------------------- */

.contact-email-form {
  background: linear-gradient(
    to bottom right,
    var(--secondary-bg-color),
    color-mix(in srgb, var(--secondary-bg-color) 90%, var(--accent-color))
  );

  color: var(--primary-text-color);
}

.contact-email-form textarea,
input {
  background-color: var(--white);
  color: var(--primary-text-color);
}

.contact-send-btn button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.contact-socials-btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  background-color: var(--accent-color);
  color: var(--white);
}

#github {
  background-color: #171515;
}
#github:hover {
  border: solid 2px #171515;
  background-color: var(--white);
  color: #171515;
}

#linkedin {
  background-color: #0077b5;
}
#linkedin:hover {
  border: solid 2px #0077b5;
  background-color: var(--white);
  color: #0077b5;
}

#facebook {
  background-color: #3b5998;
}
#facebook:hover {
  border: solid 2px #3b5998;
  background-color: var(--white);
  color: #3b5998;
}

#instagram {
  background: linear-gradient(
    to right,
    #405de6,
    #5851db,
    #833ab4,
    #c23685,
    #e1306c,
    #fd1d1d
  );
  background-size: 120% 120%;
  background-position: center;
}
#instagram:hover {
  border: solid 2px #e1306c;
  background: var(--white);
  background-color: var(--white);
  color: #e1306c;
}
/* SETTINGS PAGE */
/* ----------------------------------------------------------- */

.settings-theme-container {
  color: var(--primary-text-color);
  background: linear-gradient(
    to bottom right,
    color-mix(in srgb, var(--secondary-bg-color) 90%, var(--accent-color)),
    var(--secondary-bg-color)
  );
}
.settings-checklist-items {
  color: var(--primary-text-color);
}

/* SIGNATURE */
/* ----------------------------------------------------------- */
.heart-icon {
  color: var(--accent-color);
}

.signature p {
  color: var(--primary-bg-color);
}
