[data-color="dark"] {
  /* DARK COLORS FOR BG */
  --primary-bg-color: #180161;
  --secondary-bg-color: #4040c8;

  /* LIGHT COLORS FOR TEXT */
  --primary-text-color: #eceae7;
  --secondary-text-color: #72de6a;

  --accent-color: #2be4aa;
  --white: #dcdde2;
}

[data-color="light"] {
  /* LIGHT COLORS FOR BG */
  --primary-bg-color: #f5f7f8;
  --secondary-bg-color: #ffc55a;

  /* DARK COLORS FOR TEXT */
  --primary-text-color: #00215e;
  --secondary-text-color: #2c4e80;

  --accent-color: #fc4100;
  --white: #f3f4f5;
}

[data-color="colorful"] {
  --primary-bg-color: #d04848;
  --secondary-bg-color: #6895d2;

  --primary-text-color: #f2efea;
  --secondary-text-color: #fde767;

  --accent-color: #f3b95f;
  --white: #ebeff2;
}

/* GENERAL STYLING */
p,
h2,
h3 {
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--secondary-text-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
}

.page-content {
  background-color: var(--primary-bg-color);
  box-shadow: var(--secondary-bg-color) 15;
}

.basic-header h1 {
  border-bottom: var(--secondary-text-color) 1px solid;
}

/* NAVBAR */
/* ----------------------------------------------------------- */
.navbar {
  background: linear-gradient(
    to bottom right,
    var(--accent-color),
    color-mix(in srgb, var(--accent-color) 80%, var(--secondary-text-color))
  );
  box-shadow: 0 0 7px
    color-mix(in srgb, var(--primary-bg-color) 70%, var(--primary-text-color));
  color: var(--primary-bg-color);
}

.nav-item.active,
.nav-item:hover {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

/* WELCOME PAGE */
/* ----------------------------------------------------------- */

/* ABOUT PAGE */
/* ----------------------------------------------------------- */

/* PROJECTS PAGE */
/* ----------------------------------------------------------- */

/* CONTACT ME PAGE */
/* ----------------------------------------------------------- */

.contact-email-form {
  background: linear-gradient(
    to bottom right,
    var(--secondary-bg-color),
    color-mix(in srgb, var(--secondary-bg-color) 90%, var(--accent-color))
  );

  box-shadow: 0 0 4px
    color-mix(in srgb, var(--primary-bg-color) 70%, var(--primary-text-color));
  color: var(--primary-text-color);
}

.contact-email-form textarea,
input {
  background-color: var(--white);
  color: var(--primary-text-color);
}

.contact-send-btn button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* SETTINGS PAGE */
/* ----------------------------------------------------------- */

.settings-theme-container {
  color: var(--primary-text-color);
  background: linear-gradient(
    to bottom right,
    color-mix(in srgb, var(--secondary-bg-color) 90%, var(--accent-color)),
    var(--secondary-bg-color)
  );

  box-shadow: 0 0 4px
    color-mix(in srgb, var(--primary-bg-color) 70%, var(--primary-text-color));
}
.settings-checklist-items {
  color: var(--primary-text-color);
}

/* SIGNATURE */
/* ----------------------------------------------------------- */
.heart-icon {
  color: var(--accent-color);
}

.signature p {
  color: var(--primary-text-color);
}
